<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shxt.financePlatform.mapper.CertificatedInformationMapper">

    <resultMap id="BaseResultMap" type="com.shxt.financePlatform.entity.CertificatedInformation">
            <id property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
            <result property="informationUrl" column="information_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        teacher_id,information_url
    </sql>
</mapper>
