<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shxt.financePlatform.mapper.SubjectSectionMapper">

    <resultMap id="BaseResultMap" type="com.shxt.financePlatform.entity.SubjectSection">
            <id property="sectionId" column="section_id" jdbcType="INTEGER"/>
            <result property="subjectId" column="subject_id" jdbcType="INTEGER"/>
            <result property="sectionName" column="section_name" jdbcType="VARCHAR"/>
            <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
            <result property="sectionCategory" column="section_category" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        section_id,subject_id,section_name,
        video_url,section_category
    </sql>
</mapper>
